html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.qpanelbody {
  overflow-y: scroll;
  padding: 0px;
}

.qpanel {
  height: calc(100vh - 135px);
}

.fill-height {
  height: 100%;
}

.questionlist {
  height: calc(50vh - 140px);
}

.tab-content {
  overflow-y: scroll;
  height: calc(100vh - 240px);
}

.list-group-item.active {
  background-color: lightgrey !important;
  border-color: lightgrey;
}

.list-group-item.disabled {
  color: lightgrey;
  background-color: whitesmoke;
}

img {
  width: 100%;
  height: auto;
}

.p {
  display: inline-block;
}

.question {
  cursor: pointer;
}

a:hover{
  color: red;
}

.saveButton {
  color: white;
}

.menu-bar {
  float: right;
}

.filename {
  font-weight: bold;
}