.qpanelbody {
  overflow-y: scroll;
  padding: 0px;
}

.fill-height {
  height: 100vh;
}

.questionlist {
  height: calc(50vh - 140px);
}

.tabe-pane {
  height: 100%;
  overflow-y: scroll;
}

.list-group-item.active {
  background-color: lightgrey !important;
  border-color: lightgrey;
}

.list-group-item.disabled {
  color: lightgrey;
  background-color: whitesmoke;
}

img {
  width: 100%;
  height: auto;
}

.p {
  display: inline-block;
}

.question {
  cursor: pointer;
}

a:hover{
  color: red;
}

.saveButton {
  color: white;
}

.menu-bar {
  float: right;
}

.filename {
  font-weight: bold;
}