{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block navbar %}
<!-----------NAVBAR----------------------->
  <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">ExamWeasel</a>
      <ul class = "nav navbar-nav">
        <li>
          <a href="#loadWindow"  id="loadButton" data-toggle="modal" data-target="#loadWindow">
            <span class="glyphicon glyphicon-th-list"></span>
          </a>
        </li>
        <li>
          <a href="#" id="newFileButton">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></a></li>
      </ul>
  </nav>
</div>
{% endblock %}

{% block app_content %}
  <!---SAVE WINDOW--->
  <div class="modal" id="saveWindow" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times</button>
          <h4 class="modal-title">Save or download document</h4>
        </div>
        <div class="modal-body">
          <!------MESSAGES----------------------->
          <div class="alert alert-success" role="alert">
          </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          <!---save form-->
          {{ wtf.quick_form(saveForm, id='saveForm') }}
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------SAVE CURRENT FILE DIALOG----------------------------->
  <div class="modal" id="savecurrentfiledialog" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          Save changes?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="savefile">
            Save
          </button>
          <button type="button" class="btn btn-danger" id="discardchanges">
            Discard
          </button>
          <button type="button" class="btn btn-default" id="cancelload">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <!---LOAD WINDOW--->
  <div class="modal" id="loadWindow" role="dialog">
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times</button>
          <h4 class="modal-title">Documents</h4>
        </div>
        <div class="modal-body" id="load-body">
          <table class="table table-striped" id="load-table">
            <thead>
              <tr>
                <th>Open</th>
                <th>Title</th>
                <th>Saved</th>
                <th>Author</th>
                <th>Questions</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody id="load_table_body">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid fill-height">
  <div class="row">
    <!------------LEFT COLUMN--------------------->
    <div class="col-sm-4">
      <!-----------QUESTION PANEL----------------->
      <div class="panel panel-primary">
        <div class="panel-heading">
          {{ questions|length }} Questions
        </div>
        <div class="panel-body qpanelbody">
          <ul class="list-group questionlist">
            {% for question in questions %}
              <li class="list-group-item question" id="question_{{ question.id }}">
                {{ question.id }}, {{ question.sitting }}, {{ question.paper}}, {{ question.question_type }}
                {{ question.type }}
                {% if question.description %}
                  {{ question.description }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    <div id="initial_position">
      <!--------SPACE FOR INITIAL DOCUMENT PANEL-->
      <!-----------DOCUMENT PANEL----------------->
      <div id="panel-template" class="panel panel-primary">
        <div class="panel-heading">
          <span class="filename">{{ filename }}</span>
          <a href="#saveWindow"  class="saveButton" data-toggle="modal" data-target="#saveWindow">
            <span class="glyphicon glyphicon-new-window"></span>
          </a>
        </div>
        <div class="panel-body qpanelbody">
          <ul class="list-group questionlist">
            <!---------SPACE FOR USER ADDED QUESTIONS-->
          </ul>
        </div>
      </div>
    </div>
    </div>
    <!-----------RIGHT COLUMN------------------------>
    <div class="col-sm-8">
    <!-----------QUESTION VIEW PANEL----------------->
      <div class="panel panel-primary">
        <div class="panel-heading">
          Question Viewer
        </div>
        <div class="panel-body questionviewer" id="questionview">
          Select question to view
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

