{% import 'bootstrap/wtf.html' as wtf %}


    <div id="question-pane" class="tab-pane active">
      {% if question_urls %}
        {% for url in question_urls %}
          <img src="{{ url }}"></img>
        {% endfor %}
      {% endif %}
    </div>
    <div id="ms-pane" class="tab-pane">
      {% if ms_urls %}
      {% for url in question_urls %}
        <img src="{{ url }}"></img>
      {% endfor %}
    {% endif %}
    </div>
    <div id="data-pane" class="tab-pane">
      {% if q %}
        {{ wtf.quick_form(form) }}
      {% endif %}
    </div>